.menu {
  display: flex;
  width: 350px;
  height: 1200px;
  padding: 0px 10px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  align-self: stretch;
  border: 2px solid var(--gray-gray-600, #2e2f36);
  background: var(--gray-gray-700, #1e1f23);

  .imgcompass {
    width: 240px;
  }
  .options {
    width: 240px;
    border-radius: 8px;
    border: 2px solid var(--gray-gray-600, #2e2f36);
  }
}
