.feed {
  display: flex;
  justify-content: center;
  margin: 36px 36px 36px 36px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 36px;
    margin-right: 36px;
  }
}

.topics {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  @media (max-width: 500px) {
  .content{
    align-items: center;
  }
  }
  